<h1> Reviews </h1>
<% @reviews.each do |review| %>
<%= link_to review.reviewed_game, review %><br>
<% end %>
<h1>Write A New Review!</h1>
<%= link_to "New Review", new_review_path %><br>
<%= link_to 'Previous Page', url_for(:back) %>
